#Binaries.
*/bin/
*/release
*/dist/
javasim-core/osx/src
*/lib

# Eclipse
*/.settings
*/.externalToolBuilders/ANT\ Builder.launch
*/.classpath
*/.project

# macOS
.DS_Store

# I think Eclipse generates these with markdown preview.
.LICENSE.md.html
.README.md.html

*/target
