<?xml version="1.0" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>CFBundleDevelopmentRegion</key>
<string>English</string>
<key>CFBundleExecutable</key>
<string>JavaAppLauncher</string>
<key>CFBundleIconFile</key>
<string>icons.icns</string>
<key>CFBundleIdentifier</key>
<string>com.marklalor.javasim.JavaSim</string>
<key>CFBundleDisplayName</key>
<string>JavaSim</string>
<key>CFBundleInfoDictionaryVersion</key>
<string>6.0</string>
<key>CFBundleName</key>
<string>JavaSim</string>
<key>CFBundlePackageType</key>
<string>APPL</string>
<key>CFBundleShortVersionString</key>
<string>1.0</string>
<key>CFBundleSignature</key>
<string>????</string>
<key>CFBundleVersion</key>
<string>1</string>
<key>NSHumanReadableCopyright</key>
<string>2015 Mark Lalor</string>
<key>LSApplicationCategoryType</key>
<string>public.app-category.education</string>
<key>JVMRuntime</key>
<string>jdk1.7.0_80.jdk</string>
<key>JVMMainClassName</key>
<string>com/marklalor/javasim/JavaSim</string>
<key>NSHighResolutionCapable</key>
<true/>
<key>JVMOptions</key>
<array>
<string>-Dapple.laf.useScreenMenuBar=true</string>
<string>-Dcom.apple.macos.use-file-dialog-packages=true</string>
<string>-Dcom.apple.macos.useScreenMenuBar=true</string>
<string>-Dcom.apple.smallTabs=true</string>
<string>-Dcom.apple.textantialiasing=true</string>
<string>-Dcom.apple.antialiasing=true</string>
<string>-Dcom.apple.showGrowBox=false</string>
</array>
<key>JVMArguments</key>
<array>
</array>
</dict>
</plist>
